.pre-footer{margin-top: 45px;}
.footer{padding: 50px 0 0;border-top:1px solid $border-light;}
.footer .widget-title{color: $body-color-bold;}
.footer .bery-hr, .top-footer .bery-hr {display: block; height: 2px;}


.absolute-footer{
	padding: 20px 0 20px; background-color:#fff; border-top: 1px solid #ececec;
	.left{
		font-size: $font-size;
		.copyright-footer{
			font-size: 100%; padding-top: 5px; opacity: 1;
			span{color: $primary-color;}
		}
	}
	.right{
		font-size: $font-size;
		ul li a{color: $body-font-color;}
	}
}

.widget_text h4{color: #aaa; font-weight: bold; margin-top: 25px; margin-bottom: 15px;}
.widget_nav_menu ul li{padding-right: 5px;}
.widget_nav_menu ul li a{ @include single-transition(all, 300ms);}
.widget_nav_menu ul li a:hover{ padding-left: 8px;}

.footer .contact-logo{margin-bottom: 20px;}

.contact-icon.border-circle{position: relative; border: 1px solid #ddd; @include radius(99px); width: 38px; height: 38px; margin-right: 13px; background: #fff;}
.contact-icon.border-circle .fa-paper-plane, .contact-icon.border-circle .fa-envelope{position: absolute; top: 25%; left: 27%;}
.contact-icon.border-circle .fa-phone{position: absolute; top: 28%; left: 35%;}

.sidebar-footer-4-top{padding: 40px 0px 20px 0px; margin-top: 35px;}

.custom-footer-1 .bery-hr{background-color: $primary-color; margin-bottom: 30px !important;}
.custom-footer-1 .widget img{margin-bottom: 0px !important;}
.custom-footer-1{border-top: 0px !important; padding-top: 20px !important;}